//color
$black: #000;
$white: #fff;

$light-gray: #777;
$gray: #444;
$dark-gray: #222;
$blue-gray: #34495e;

$red: #f94144;
$green: #90be6d;
$blue: #5778e6;

$cyan: #46aafc;
$yellow: #f1c40f;
$magenta: #d51178;

$dark-blue: #1d67a3;
$orange: #f9844a;
$yellow-orange: #f39c12;
$purple: #9b59b6;
$dark-green: #43aa8b;
$pink: #f07de6;
$dark-cyan: #2d7bb6;

/* ------------ */

$background-color: rgb(58, 86, 138);

$color-primary: $blue;
$color-secondary: $light-gray;

$width-breakpoint: 450px;

$header-height: 70px;
$footer-height: 50px;

$margin-base: 20px;
$padding-base: 10px;

$border-radius: 5px;
