footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;

  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    @include large-screen {
      justify-content: center;
      li {
        margin: 0 $margin-base;
      }
    }
    li {
      position: relative;
      @include button($light-gray);
      a {
        width: 100%;
        height: 100%;
      }
      & > * {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
