main.main-commands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    @include large-screen {
      max-width: #{(4 * 100px) + (4 * $margin-base) + (80px)};
      margin: 0 auto;
    }
    button {
      width: 100px;
      height: 50px;
      margin: $margin-base;
    }
  }
}
